{% extends 'base.html' %}

{% block content %}
	<div id="article-viewer">
		<a href="{{ article.orig_article_link }}"><h2 id="article-title">{{ article.title }}</h2></a>
		{% if article.author %}
			<p id="article-authors">by {{ article.authors }}</p>
		{% endif %}
		<img src="{{ article.image_url }}" alt="" id="article-image">
		<p id="article-source">source {{ article.source }}</p>
		<hr class="article-break">
		<p id="article-summary">{{ article.summary }}</p>
		<hr class="article-break">
		<p id="article-content">{{ article.content }}</p>
		<hr class="article-break">
		<p>published on {{ article.published_date }}, archived on {{ article.archive_date }}</p>
		
		

	</div>
{% endblock %}