{% extends 'base.html' %}

{% block content %}
	<div id="article-viewer" class="grid-container">
		<a class="grid-item" id="article-title" href="{{ article.orig_article_link }}">{{ article.title }}</a>
		{% if article.author %}
			<p class="grid-item" id="article-authors">by {{ article.authors }}</p>
		{% endif %}
		<img class="grid-item" src="{{ article.image_url }}" alt="" id="article-image">
		<p class="grid-item" id="article-source">source {{ article.source }}</p>
		
		<p class="grid-item" id="article-summary">{{ article.summary }}</p>
		
		<p class="grid-item" id="article-content">{{ article.content }}</p>
	</div>
	<hr id="bottom-break">
	<p id="article-dates">published on {{ article.published_date }}, archived on {{ article.archive_date }}</p>
	<div id="next-article-container">
		<a href="{{ url_for('article_view', article_id=next_article_id) }}"> Next Article >></a>
	</div>
{% endblock %}