{% extends 'base.html' %}

{% block content %}
	<form class="form" method="POST" id="search-by-date">
		{{ form.csrf_token }}
		{{ form.start_date.label }} {{ form.start_date(size=20) }}
		<br>
		{{ form.end_date.label }} {{ form.end_date(size=20) }}
		<br>
		{{ form.keywords.label }} {{ form.keywords(size=20) }}
		<input type="submit" value="submit">
	</form>
	<div>
		<hr>
		{% for article in data %}
			<h4>{{ article.title }}</h4>
			<br>
			<p>{{ article.summary }}</p>
			<br>
			<p>Source:  {{ article.source }}</p>
			<a href="{{ url_for('article_view', article_id=article.id) }}">View On Archiver>></a>
			<br>
			<a href="{{ article.orig_article_link }}">View From Source>></a>
			<hr>
		{% endfor %}
	</div>
	<div>
		{{ start_date }}
		<br>
		{{ end_date }}
		<br>
		{{ keywords }}
	</div>
{% endblock %}